.last-chat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.5em;
  border-bottom: var(--primary);
}

.last-chat header {
  display: flex;
  flex-direction: row;
}